USE master
GO
---------------------------------------------------------------------------------------------------
CREATE DATABASE JARDINERIA
ON PRIMARY
(NAME = JARDINERIA_dat,
FILENAME ='D:\DB\JARDINERIA_dat.mdf',
SIZE = 50 MB,
MAXSIZE = 100 MB,
FILEGROWTH = 10 MB)

LOG ON
(NAME = JARDINERIA_log,
FILENAME ='D:\DB\JARDINERIA_log.ldf',
SIZE = 20MB,
MAXSIZE = UNLIMITED,
FILEGROWTH = 10%)
GO
---------------------------------------------------------------------------------------------------
USE [JARDINERIA]
GO
/****** Object:  Table [dbo].[Categorías]    Script Date: 7/05/2021 00:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorías](
	[IDCategoría] [int] NOT NULL,
	[NombreCategoría] [nvarchar](15) NOT NULL,
	[Descripción] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categorías] PRIMARY KEY CLUSTERED 
(
	[IDCategoría] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 7/05/2021 00:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IDCliente] [nvarchar](5) NOT NULL,
	[Nombre] [nvarchar](30) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Dirección] [nvarchar](255) NULL,
	[Localidad] [nvarchar](50) NULL,
	[Región] [nvarchar](20) NULL,
	[CódigoPostal] [nvarchar](20) NULL,
	[País] [nvarchar](50) NULL,
	[Teléfono] [nvarchar](30) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles de pedidos]    Script Date: 7/05/2021 00:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles de pedidos](
	[IDPedido] [int] NOT NULL,
	[IDProducto] [int] NOT NULL,
	[PrecioUnitario] [money] NOT NULL,
	[Cantidad] [smallint] NOT NULL,
	[Descuento] [real] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 7/05/2021 00:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IDEmpleado] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Puesto] [nvarchar](50) NULL,
	[Dirección] [nvarchar](255) NULL,
	[Localidad] [nvarchar](50) NULL,
	[Estado] [nvarchar](20) NULL,
	[CódigoPostal] [nvarchar](20) NULL,
	[TeléfonoParticular] [nvarchar](30) NULL,
	[FechaNacimiento] [datetime] NULL,
	[FechaContratación] [datetime] NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[IDEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 7/05/2021 00:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IDPedido] [int] NOT NULL,
	[IDCliente] [nvarchar](5) NULL,
	[Vendedor] [int] NULL,
	[FechaPedido] [datetime] NULL,
	[FechaEnvío] [datetime] NULL,
	[Transportista] [int] NULL,
	[Portes] [money] NULL,
	[NombreDestinatario] [nvarchar](50) NULL,
	[DirecciónDestinatario] [nvarchar](255) NULL,
	[LocalidadDestino] [nvarchar](50) NULL,
	[RegiónDestino] [nvarchar](20) NULL,
	[CódigoPostalDestino] [nvarchar](20) NULL,
	[PaísDestino] [nvarchar](50) NULL,
	[FechaObjetivo] [datetime] NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[IDPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 7/05/2021 00:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IDProducto] [int] NOT NULL,
	[NombreProducto] [nvarchar](40) NOT NULL,
	[NombreLatín] [nvarchar](50) NULL,
	[Proveedor] [int] NULL,
	[Categoría] [int] NULL,
	[CantidadUnidad] [nvarchar](25) NULL,
	[PrecioUnitario] [money] NULL,
	[UnidadesStock] [smallint] NULL,
	[UnidadesPedidas] [smallint] NULL,
	[StockMínimo] [smallint] NULL,
	[Descatalogado] [bit] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 7/05/2021 00:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[IDProveedor] [int] NOT NULL,
	[NombreProveedor] [nvarchar](50) NULL,
	[NombreContacto] [nvarchar](50) NULL,
	[PuestoContacto] [nvarchar](50) NULL,
	[Dirección] [nvarchar](255) NULL,
	[Localidad] [nvarchar](50) NULL,
	[Estado] [nvarchar](20) NULL,
	[CódigoPostal] [nvarchar](20) NULL,
	[Teléfono] [nvarchar](30) NULL,
	[Fax] [nvarchar](30) NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[IDProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transportistas]    Script Date: 7/05/2021 00:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportistas](
	[IDTransportista] [int] NOT NULL,
	[Compañía] [nvarchar](50) NULL,
	[Contacto] [nvarchar](50) NULL,
	[Dirección] [nvarchar](255) NULL,
	[Localidad] [nvarchar](50) NULL,
	[Estado] [nvarchar](20) NULL,
	[CódigoPostal] [nvarchar](20) NULL,
	[Teléfono] [nvarchar](30) NULL,
 CONSTRAINT [PK_Transportistas] PRIMARY KEY CLUSTERED 
(
	[IDTransportista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categorías] ([IDCategoría], [NombreCategoría], [Descripción]) VALUES (1, N'Bulbos', N'Primavera, verano y otoño, floración forzada')
INSERT [dbo].[Categorías] ([IDCategoría], [NombreCategoría], [Descripción]) VALUES (2, N'Cactus', N'Cactus de interior')
INSERT [dbo].[Categorías] ([IDCategoría], [NombreCategoría], [Descripción]) VALUES (3, N'Cubiertas veget', N'Perennes herbáceas, hiedras, enredaderas, parras, musgos')
GO
INSERT [dbo].[Clientes] ([IDCliente], [Nombre], [Apellido], [Dirección], [Localidad], [Región], [CódigoPostal], [País], [Teléfono]) VALUES (N'ACKPI', N'Pilar', N'Ackerman', N'8808 Backbay St.', N'Bellevue', N'WA', N'88004', N'EE. UU.', N'(425) 555-0194')
INSERT [dbo].[Clientes] ([IDCliente], [Nombre], [Apellido], [Dirección], [Localidad], [Región], [CódigoPostal], [País], [Teléfono]) VALUES (N'ADATE', N'Terry', N'Adams', N'1932 52nd Ave.', N'Vancouver', N'BC', N'V4T 1Y9', N'Canadá', N'(604) 555-0193')
INSERT [dbo].[Clientes] ([IDCliente], [Nombre], [Apellido], [Dirección], [Localidad], [Región], [CódigoPostal], [País], [Teléfono]) VALUES (N'ALLMI', N'Michael', N'Allen', N'130 17th St.', N'Vancouver', N'BC', N'V4T 1Y9', N'Canadá', N'(604) 555-0192')
GO
INSERT [dbo].[Detalles de pedidos] ([IDPedido], [IDProducto], [PrecioUnitario], [Cantidad], [Descuento]) VALUES (11079, 3, 58.0000, 1, 0)
INSERT [dbo].[Detalles de pedidos] ([IDPedido], [IDProducto], [PrecioUnitario], [Cantidad], [Descuento]) VALUES (11079, 18, 62.5000, 1, 0)
INSERT [dbo].[Detalles de pedidos] ([IDPedido], [IDProducto], [PrecioUnitario], [Cantidad], [Descuento]) VALUES (11080, 37, 18.7500, 1, 0)
GO
INSERT [dbo].[Empleados] ([IDEmpleado], [Nombre], [Apellido], [Puesto], [Dirección], [Localidad], [Estado], [CódigoPostal], [TeléfonoParticular], [FechaNacimiento], [FechaContratación]) VALUES (1, N'Karen', N'Berg', N'Propietario', N'765 - 20th Ave. E.
Apt. 2A', N'Seattle', N'WA', N'88102', N'(206) 555-0100', CAST(N'1968-12-08T00:00:00.000' AS DateTime), CAST(N'2008-05-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Empleados] ([IDEmpleado], [Nombre], [Apellido], [Puesto], [Dirección], [Localidad], [Estado], [CódigoPostal], [TeléfonoParticular], [FechaNacimiento], [FechaContratación]) VALUES (2, N'Kim', N'Akers', N'Jefe de compras', N'890 NE 87th Dr.', N'Seattle', N'WA', N'88125', N'(206) 555-0101', CAST(N'1973-02-19T00:00:00.000' AS DateTime), CAST(N'2008-06-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Empleados] ([IDEmpleado], [Nombre], [Apellido], [Puesto], [Dirección], [Localidad], [Estado], [CódigoPostal], [TeléfonoParticular], [FechaNacimiento], [FechaContratación]) VALUES (3, N'Tom', N'O''Neill', N'Asistente', N'789 Moss Bay Blvd.', N'Kirkland', N'WA', N'88033', N'(425) 555-0102', CAST(N'1988-08-30T00:00:00.000' AS DateTime), CAST(N'2008-11-02T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Pedidos] ([IDPedido], [IDCliente], [Vendedor], [FechaPedido], [FechaEnvío], [Transportista], [Portes], [NombreDestinatario], [DirecciónDestinatario], [LocalidadDestino], [RegiónDestino], [CódigoPostalDestino], [PaísDestino], [FechaObjetivo]) VALUES (11079, N'LANER', 4, CAST(N'2012-01-05T00:00:00.000' AS DateTime), CAST(N'2012-01-07T00:00:00.000' AS DateTime), 5, 18.0000, N'Eric Lang', N'991 S. Mississippi Rd.', N'St. Louis', N'MO', N'89203', N'EE. UU.', NULL)
INSERT [dbo].[Pedidos] ([IDPedido], [IDCliente], [Vendedor], [FechaPedido], [FechaEnvío], [Transportista], [Portes], [NombreDestinatario], [DirecciónDestinatario], [LocalidadDestino], [RegiónDestino], [CódigoPostalDestino], [PaísDestino], [FechaObjetivo]) VALUES (11080, N'ACKPI', 4, CAST(N'2012-01-05T00:00:00.000' AS DateTime), CAST(N'2012-01-06T00:00:00.000' AS DateTime), 4, 13.2500, N'Pilar Ackerman', N'8808 Backbay St.', N'Boston', N'MA', N'88337', N'EE. UU.', NULL)
INSERT [dbo].[Pedidos] ([IDPedido], [IDCliente], [Vendedor], [FechaPedido], [FechaEnvío], [Transportista], [Portes], [NombreDestinatario], [DirecciónDestinatario], [LocalidadDestino], [RegiónDestino], [CódigoPostalDestino], [PaísDestino], [FechaObjetivo]) VALUES (11081, N'BROKE', 6, CAST(N'2012-01-06T00:00:00.000' AS DateTime), CAST(N'2012-01-07T00:00:00.000' AS DateTime), 4, 8.9500, N'Kevin Browne', N'666 Fords Landing', N'Westover', N'WV', N'66954', N'EE. UU.', NULL)
GO
INSERT [dbo].[Productos] ([IDProducto], [NombreProducto], [NombreLatín], [Proveedor], [Categoría], [CantidadUnidad], [PrecioUnitario], [UnidadesStock], [UnidadesPedidas], [StockMínimo], [Descatalogado]) VALUES (1, N'Lirio mágico', N'Lycoris squamigera', 15, 1, N'12', 48.4000, 40, 0, 10, 0)
INSERT [dbo].[Productos] ([IDProducto], [NombreProducto], [NombreLatín], [Proveedor], [Categoría], [CantidadUnidad], [PrecioUnitario], [UnidadesStock], [UnidadesPedidas], [StockMínimo], [Descatalogado]) VALUES (2, N'Azafrán de otoño', N'Colchicum', 15, 1, N'12', 22.6875, 37, 0, 10, 0)
INSERT [dbo].[Productos] ([IDProducto], [NombreProducto], [NombreLatín], [Proveedor], [Categoría], [CantidadUnidad], [PrecioUnitario], [UnidadesStock], [UnidadesPedidas], [StockMínimo], [Descatalogado]) VALUES (3, N'Cubo de abono', NULL, 1, 20, N'30-300 l. capacidad', 58.0000, 13, 0, 10, 0)
GO
INSERT [dbo].[Proveedores] ([IDProveedor], [NombreProveedor], [NombreContacto], [PuestoContacto], [Dirección], [Localidad], [Estado], [CódigoPostal], [Teléfono], [Fax]) VALUES (1, N'Jardinería Mfg.', N'Don Richardson', N'Jefe de compras', N'45 Tandy St.', N'Washington', N'DC', N'10008', N'(202) 555-0120', N'(202) 555-0140')
INSERT [dbo].[Proveedores] ([IDProveedor], [NombreProveedor], [NombreContacto], [PuestoContacto], [Dirección], [Localidad], [Estado], [CódigoPostal], [Teléfono], [Fax]) VALUES (2, N'El Club del Arbusto', N'Jonathan Mollerup', N'Gestor de pedidos', N'1234 Lapis Ave.', N'Chevy Chase', N'MD', N'10815', N'(301) 555-0121', N'(301) 555-0141')
INSERT [dbo].[Proveedores] ([IDProveedor], [NombreProveedor], [NombreContacto], [PuestoContacto], [Dirección], [Localidad], [Estado], [CódigoPostal], [Teléfono], [Fax]) VALUES (3, N'Antiplagas NoTox', N'Brad Sutton', N'Comercial', N'P.O. Box 555', N'Lander', N'WY', N'72520', N'(307) 555-0123', N'(307) 555-0142')
GO
INSERT [dbo].[Transportistas] ([IDTransportista], [Compañía], [Contacto], [Dirección], [Localidad], [Estado], [CódigoPostal], [Teléfono]) VALUES (1, N'Fast Freddie''s Freightline', N'Jim Hance', N'7654 Baxter Blvd.', N'Gunnison', N'CO', N'71230', N'(303) 555-0100')
INSERT [dbo].[Transportistas] ([IDTransportista], [Compañía], [Contacto], [Dirección], [Localidad], [Estado], [CódigoPostal], [Teléfono]) VALUES (2, N'Zippy''s Express', N'Adam Barr', N'89 Washington Dr.', N'Clovis', N'NM', N'78101', N'(505) 555-0101')
INSERT [dbo].[Transportistas] ([IDTransportista], [Compañía], [Contacto], [Dirección], [Localidad], [Estado], [CódigoPostal], [Teléfono]) VALUES (3, N'Triple P Delivery', N'Jessica Arnold', N'12-A N. 126th St.', N'Vermillion', N'KS', N'56544', N'(913) 555-0102')
GO
ALTER TABLE [dbo].[Detalles de pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Detalles de pedidos_Pedidos] FOREIGN KEY([IDPedido])
REFERENCES [dbo].[Pedidos] ([IDPedido])
GO
ALTER TABLE [dbo].[Detalles de pedidos] CHECK CONSTRAINT [FK_Detalles de pedidos_Pedidos]
GO
ALTER TABLE [dbo].[Detalles de pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Detalles de pedidos_Productos] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([IDProducto])
GO
ALTER TABLE [dbo].[Detalles de pedidos] CHECK CONSTRAINT [FK_Detalles de pedidos_Productos]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Clientes] ([IDCliente])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Clientes]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Empleados] FOREIGN KEY([Vendedor])
REFERENCES [dbo].[Empleados] ([IDEmpleado])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Empleados]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Transportistas] FOREIGN KEY([Transportista])
REFERENCES [dbo].[Transportistas] ([IDTransportista])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Transportistas]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorías] FOREIGN KEY([Categoría])
REFERENCES [dbo].[Categorías] ([IDCategoría])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorías]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Proveedores] FOREIGN KEY([Proveedor])
REFERENCES [dbo].[Proveedores] ([IDProveedor])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Proveedores]
GO
